<nav class="minerva minerva-nav">
<a href="/{{projectFolder}}/index.html">Init.js (Run "grunt)</a><a href="/{{projectFolder}}/testinitmin.html">Init.min.js (Run "grunt production")</a><a href="/{{projectFolder}}/patternLibrary.html">Pattern library</a><a href="/{{projectFolder}}/drupal.html">Drupal</a><a href="/{{projectFolder}}/responsive.html">Responsive</a><a href="/">Projects list</a>
</nav>